<h1>Artículos del Blog</h1>
   <! -- and end with -->
  <div class = "col">
    <div class = "row">
      <%= link_to "Nuevo Artículo", new_article_path %>
    </div>
  </div>
  

<%= render partial: "card" %>