 <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col pt-4 pt-lg-0">
            <h3>Somos una empresa de bugtracking</h3>
            <p>
              Como no tenemos plata para adquirir un sistema de bugtraking, lo tenemos que hacer por nuestra cuenta, este cuenta con las siguientes características
            </p>
            <ul>
              <li><i class="bx bx-check-double"></i> Tiene poco dinero.</li>
              <li><i class="bx bx-check-double"></i> Aprendemos sobre la marcha.</li>
            </ul>
            <div class="row icon-boxes">
              <div class="col-md-6">
                <i class="bx bx-receipt"></i>
                <h4>Poco dinero</h4>
                <p>Como se decía, el sistema tiene poco dinero. Pero aún así recibimos donaciones c=</p>
              </div>
              <div class="col-md-6 mt-4 mt-md-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Aprendemos sobre la marcha</h4>
                <p>Si quieres aportar o reportar algún problema no dudes en hacerlo en <%= link_to "este enlace", "www.motherfuckingweb.com" %></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>